.wrap{
	background: url("../images/warp_18.jpg");
}
.banner{
	width: 1200px;
	margin: 0 auto;
	background: url("../images/banner_14.jpg");
	position: relative;
}
.swiper-button-prev{
	position: absolute;
	left: 0px;
}
.swiper-slide{
	text-align: center;
	padding-top: 28px
}
.swiper-container {
    width: 1100px;
    height: 405px;
    margin: 0 auto;
    position: relative;
}  
section{
	padding: 30px 50px 0 50px;
	background-color: #2b2e33;
	width: 1100px;
	margin: 0 auto;
}
aside{
	width: 630px;
	border-right: 2px solid #fff;
	padding-bottom: 12px;
	float: left;
}
aside img{
	float: left;
}
aside h1{
	font-size: 36px;
	width: 400px;
	color: #fff;
	float: left;
	padding-left: 30px;
	padding-bottom: 35px;
}
aside .daojishi{
	float: left;
	width: 418px;
	margin-top: 60px;
}
aside .daojishi>span:nth-child(1){
	font-size: 12px;
	color: #707378
}
aside .daojishi .jishi{
	width: 418px;
	height: 64px;
	border-radius: 15px;
	background-color: #707378;
	font-size: 42px;
	line-height: 48px;
	padding: 0 22px;
	color: #fdd900
}
aside .daojishi .jishi>span{
	font-weight: bold;
	padding: 0 13px
}
aside .daojishi .jishi>i{
	font-style: normal;
	padding: 0 46px;
	font-size: 12px;
	display: block;
	float: left;
	line-height: 12px
}
aside .daojishi>span:nth-child(3){
	font-size: 12px;
	color: #fff
}
aside .daojishi>span:nth-child(3)>span{
	color: #fdd900
}
article{
	padding-left: 50px;
	float: left;
}
article>div{
	margin-bottom: 30px;
}
article>div>span:nth-child(1){
	width: 64px;
	line-height: 26px;
	background-color: #fff;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-right: 30px;
}
.dingjin b b{
	font-size: 36px;
}
.dingjin b{
	font-size: 24px;
	color: #fdd900;
}
.dingjin span:nth-child(4){
	font-size: 18px;
	color: #fff;
	line-height: 18px;
	padding-left: 94px;
}
.kuanshi a,.chima a,.shuliang a{
	width: 79px;
	line-height: 26px;
	font-size: 14px;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
}
.chima{
	width: 380px;
	margin-bottom: 20px;
}
.chima span{
	margin-bottom: 20px
}
.chima a{
	width: 64px;
	margin-bottom: 5px;
}
.shuliang a{
	width: 69px;
	line-height: 38px;
}
.shuliang span:nth-child(3){
	float: left;
	line-height: 37px;
	width: 160px;
	text-align: center;
	color: #fff;
}
.anniu{
	float: left;
	padding: 20px 0;
	border-top: 2px solid #4f4f4f;
	border-bottom: 2px solid #4f4f4f;
	margin-top: 20px;
}
.anniu a{
	width: 1100px;
	border-radius: 15px;
	border: 3px solid #fdd900;
	display: block;
	line-height: 84px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #fdd900;
}
.bichu{
	margin-left: -50px;
	float: left;
	position: relative;
}
.buchuc{
	position: absolute;
	left: 0;
	top: 0;
}
.ditu{
	margin-bottom: -4px
}
article .cor{
	border: 1px solid #fdd900;
	color: #fdd900
}